{% extends "base.html" %}

{% block content %}

  <h1>Connection</h1>
    <form method = "POST">
      {% csrf_token %}
      <p>
        <label for="username"> Nom utilisateur</label>
        <input id ="username" type="text" name = "username">
      </p>
      <p>
        <label for="password">Mot de passe</label>
        <input id ="password" type ="password" name ="password">
      </p>
      <button type ="submit">Connection</button>
    </form>

{% endblock %}

<!-- formulaire  d'inscription pour nos users qui va etre remvoyer dans la vue de l'appli accounts -->