{% extends "base.html" %}

{% block content %}

  <h1> S'inscrire </h1>
    <form method = "POST">
      {% csrf_token %}
      <p>
        <label for="username"> Nom utilisateur</label>
        <input id ="username" type="text" name = "username"> <!-- represente une clef de dictionnaire -->
      </p>                                                <!-- C`est lui qu on va use au niveau de la vue signup -->
      <p>
        <label for="password">Mot de passe</label>
        <input id ="password" type ="password" name ="password"> <!-- represente une clef de dictionnaire -->
      </p>
      <button type ="submit">S'inscrire</button>
    </form>

{% endblock %}

<!-- formulaire  d'inscription pour nos users qui va etre remvoyer dans la vue de l'appli accounts -->